[submodule "vibrox-core"]
	url = https://github.com/VibuRoshin25/vibrox-core
	path = vibrox-core
	branch = main
[submodule "vibrox-echo"]
	url = https://github.com/VibuRoshin25/vibrox-echo
	path = vibrox-echo
	branch = main
[submodule "vibrox-dns"]
	path = vibrox-dns
	url = https://github.com/VibuRoshin25/vibrox-dns
	branch = main
[submodule "vibrox-web"]
	path = vibrox-web
	url = https://github.com/VibuRoshin25/vibrox-web
	branch = main
[submodule "vibrox-arena"]
	url = https://github.com/VibuRoshin25/vibrox-arena
	path = vibrox-arena
	branch = main